---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";
const allPosts = await Astro.glob("./*.md");
---

<BaseLayout pageTitle="My Developer Journey">
  <h1>Blogs</h1>
  <p>This is where I will post my musings.</p>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost
          url={post.url}
          title={post.frontmatter.title}
          pubDate={post.frontmatter.pubDate}
          description={post.frontmatter.description}
        />
      ))
    }
  </ul>
</BaseLayout>

<style>
  ul {
    padding: 0;
  }
</style>
