---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Preact/Greeting.jsx";
---

<BaseLayout pageTitle="Larry LW Chan">
  <h1>Musings of a Full Stack Developer</h1>
  <!-- <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} /> -->
  <p>
    Hi, I'm Larry, a full stack developer based in Atlanta, USA. This is my
    quasi (blog / portfolio) page.
  </p>
</BaseLayout>
