<footer>
  <p>
    <small> &copy; 2024 Larry LW Chan. All rights reserved. </small>
  </p>
  <div class="social">
    <a href="https://github.com/larry-lw-chan" aria-label="github">
      <box-icon type="logo" name="github"></box-icon>
    </a>
    <a href="https://www.linkedin.com/in/larrylwchan/" aria-label="linkedin">
      <box-icon type="logo" name="linkedin-square"></box-icon>
    </a>
    <a href="./rss.xml" aria-label="rss">
      <box-icon name="rss"></box-icon>
    </a>
  </div>
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-between;
  }
  footer p {
    font-weight: 500;
  }
  footer .social a:hover {
    text-decoration: none;
  }
  footer .social a {
    margin-left: 0.5rem;
  }
</style>
