---
import ThemeSwitch from "./ThemeSwitch.astro";

import "../assets/styles/header.css";
---

<header>
  <a href="/" id="logo" aria-label="Homepage link"><h1>Larry Chan</h1></a>

  <nav id="primary-nav">
    <div class="hamburger">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
    <ul role="listbox" class="nav-links">
      <li><a href="/posts">Blog</a></li>
      <li><a href="/tags/">Tags</a></li>
      <li><a href="/about/">About</a></li>
    </ul>
    <ThemeSwitch />
  </nav>
</header>

<script src="../assets/scripts/hamburger.js"></script>
