---
import Navigation from "./Navigation.astro";
import ThemeSwitch from "./ThemeSwitch.astro";

import "../styles/navigation.css";
---

<header>
  <h1>Larry Chan</h1>
  <Navigation />

  <details role="list">
    <summary aria-haspopup="listbox" role="button">Menu</summary>
    <Navigation />
  </details>
  <ThemeSwitch />
</header>
