@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap");

/* Orange Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #fb8c00;
  --primary-hover: #f57c00;
  --primary-focus: rgba(251, 140, 0, 0.125);
  --primary-inverse: #fff;
}

/* Orange Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: #fb8c00;
    --primary-hover: #ff9800;
    --primary-focus: rgba(251, 140, 0, 0.25);
    --primary-inverse: #fff;
  }
}

/* Orange Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #fb8c00;
  --primary-hover: #ff9800;
  --primary-focus: rgba(251, 140, 0, 0.25);
  --primary-inverse: #fff;
}

/* Orange (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

address,
blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Grape Nuts", cursive;
  margin-bottom: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

/* Main Styling */
main {
  border-top: 1px solid var(--primary);
  border-bottom: 1px solid var(--primary);
  margin: 0 0 1.2rem 0;
}

article h1 {
  margin: 0 0 1.2rem 0;
}

/* Date Styling - used in various places */
.date {
  position: relative;
  margin-bottom: 0.3rem;
}
.date span {
  position: absolute;
  font-size: 0.8rem;
  left: 1.6rem;
  top: 0.1rem;
}
