/* Header Styling */
header {
  min-height: 3rem;
  padding: 0.9rem 0;
  position: relative;
}

header:after {
  content: "";
  display: table;
  clear: both;
}

/* Logo Styling */
#logo {
  float: left;
  margin-top: 0.1rem;
}

#logo a {
  text-decoration: none;
}

#logo a h1:hover {
  font-size: 2.5rem;
  position: absolute;
}

/* Navigation Styling */
#primary-nav {
  display: none;
  clear: both;
}

/* Hamburger Styling */
.hamburger {
  float: right;
  right: 0;
  margin-top: 0.7rem;
}

.hamburger .bar1,
.hamburger .bar2,
.hamburger .bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--color);
  margin: 6px 0;
  transition: var(--transition-speed);
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

/* Navigation Link */
header.change {
  height: inherit;
  transition: var(--transition-speed);
}

.change #primary-nav {
  display: block;
}

.nav-links li {
  font-family: "Grape Nuts", cursive;
  font-size: 1.8rem;
  color: var(--primary-hover);
  list-style: none;
  text-align: center;
}

.nav-links a:hover {
  color: var(--primary-hover);
  text-decoration: underline;
}

/* Theme Switcher */
#theme-switcher {
  display: none;
}

#theme-switcher a {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.change #theme-switcher {
  display: block;
  text-align: center;
}

/* Media Query */
@media screen and (min-width: 768px) {
  header {
    min-height: 3rem;
    padding: 0.9rem 0;
    position: relative;
  }

  #primary-nav {
    float: right;
    display: block;
    clear: none;
  }

  #theme-switcher {
    position: absolute;
    right: 0;
    padding-top: 1.2rem;
  }

  .hamburger {
    position: absolute;
    top: -10rem;
  }
  .nav-links {
    display: flex;
    gap: 0 2.2rem;
    justify-content: center;
    padding-top: 0.7rem;
    margin: 0 4rem 0 0;
  }

  .nav-links li {
    font-size: 1.4rem;
  }

  #theme-switcher {
    display: block;
    margin-top: -0.2rem;
  }
}
