/* Header Styling */
header {
  min-height: 3rem;
  padding: 0.6rem 0 0.4rem 0;
  position: relative;
}

header:after {
  content: "";
  display: table;
  clear: both;
}

/* Logo Styling */
#logo {
  float: left;
  margin-top: 0.4rem;
}

#logo a {
  text-decoration: none;
}

#logo a h1:hover {
  font-size: 2.5rem;
  position: absolute;
}

/* Navigation Styling */
nav {
  float: right;
}

/* Hamburger Styling */
.hamburger {
  margin-top: calc(var(--pico-block-spacing-vertical) * 2);
}

.hamburger .bar1,
.hamburger .bar2,
.hamburger .bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--primary-inverse);
  margin: 6px 0;
  transition: var(--transition-speed);
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

/* Navigation Link */
.nav-links {
  display: none;
  margin: 0 4rem 0 0;
}

.nav-links li {
  font-family: "Grape Nuts", cursive;
  font-size: 1.8rem;
  color: var(--primary-hover);
  list-style: none;
  text-align: center;
}

.nav-links a:hover {
  color: var(--primary-hover);
  text-decoration: underline;
}

/* Theme Switcher */
a[data-theme-switcher] {
  float: right;
  right: 9rem;
  margin-top: 0.9rem;
}

/* Media Query */
@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
  .nav-links {
    display: flex;
    gap: 0 1.2rem;
    justify-content: center;
    padding-right: 3rem;
  }

  .nav-links li {
    font-size: 1.4rem;
  }
  a[data-theme-switcher] {
    right: 0;
  }
}
