---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../assets/styles/pico.min.css";
import "../assets/styles/global.css";

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <slot name="meta">
      <meta
        name="description"
        content="This is a blog by Larry LW Chan ranting about geeky developer things"
      />
    </slot>
    <ViewTransitions />
  </head>
  <body>
    <div class="container">
      <Header />
      <main>
        <article>
          <slot>
            <!-- your content is injected here -->
            <p>This is my fallback content.</p>
          </slot>
        </article>
      </main>
      <Footer />
    </div>
    <script>
      import "../assets/scripts/boxicons.js";
      import "../assets/scripts/global.js";
    </script>
  </body>
</html>
