---
import "../styles/pico.min.css";
import "../styles/main.css";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <slot name="head" />
  </head>
  <body>
    <div class="container">
      <header>
        <h3>Larry Chan</h3>
        <nav>
          <a href="/">Home</a>
          <a href="/about/">About</a>
          <a href="/blog/">Blog</a>
          <a href="#" data-theme-switcher="light">🔆</a>
        </nav>
      </header>
      <main>
        <article>
          <h2>{title}</h2>
          <!-- your content is injected here -->
          <slot>
            <p>
              This is my fallback content, if there is no child passed into slot
            </p>
          </slot>
        </article>
      </main>
      <footer>
        <p>
          <small> &copy; 2024 Larry LW Chan. All rights reserved. </small>
        </p>
      </footer>
    </div>
  </body>

  <script src="../scripts/minimal-theme-custom.js"></script>
  <script src="../scripts/minimal-theme-switcher.js"></script>
</html>
