---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/pico.min.css";
import "../styles/global.css";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="container">
      <Header />
      <main>
        <article>
          <h2>{title}</h2>
          <slot>
            <!-- your content is injected here -->
            <p>This is my fallback content.</p>
          </slot>
        </article>
      </main>
      <Footer />
    </div>
  </body>
</html>

<script src="../scripts/global.js"></script>
<script src="../scripts/boxicons.js"></script>
