---
import BaseLayout from "./BaseLayout.astro";
import Tags from "../components/Tags.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="frontmatter">
    <h1>{frontmatter.title}</h1>
    <div class="date">
      <box-icon name="calendar-alt"></box-icon>
      <span>{frontmatter.pubDate.slice(0, 10)}</span>
    </div>
  </div>
  <div class="post">
    <slot />
  </div>
  <div class="taglist">
    <h3>Tags</h3>
    <Tags tags={frontmatter.tags} />
  </div>
</BaseLayout>

<style>
  .frontmatter h1 {
    color: var(--primary);
  }
  .date {
    margin-top: -1rem;
  }

  h3 {
    margin-bottom: 0.3rem;
  }
</style>
