---
import BaseLayout from "./BaseLayout.astro";
import Tags from "../components/Tags.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <div class="frontmatter">
    <h1>{frontmatter.title}</h1>
    <address>{frontmatter.author}</address>
    <p>{frontmatter.pubDate.slice(0, 10)}</p>
  </div>
  <div class="post">
    <slot />
  </div>
  <div class="taglist">
    <h3>Tags</h3>
    <Tags tags={frontmatter.tags} />
  </div>
</BaseLayout>
